
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #f2eeee;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
  .toolbar_logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 400;
  }
//   .fill-remaining-space {
//     /*This fills the remaining space, by using flexbox.  
//    Every toolbar row uses a flexbox row layout. */
//    flex: 1 1 auto;
//  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 100;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  .k6JK1Q {
    background-image: linear-gradient(-60deg,transparent,#0ab9cf 14%,#7535e7 28%,#f9132f 42%,#ffbd00 56%,#72a043 70%,#0ab9cf 84%,rgba(0,196,204,0));
    height: 100%;
    left: 0;
    -webkit-mask-image: linear-gradient(90deg,transparent 0,#000 10%);
    mask-image: linear-gradient(90deg,transparent 0,#000 10%);
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    transition: opacity 1s ease,-webkit-transform 7.5s ease-out;
    transition: opacity 1s ease,transform 7.5s ease-out;
    transition: opacity 1s ease,transform 7.5s ease-out,-webkit-transform 7.5s ease-out;
    width: 120%;
  }
  .toolbar img {
    margin: 0 16px;
  }

  

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    // color: #125699;
    color: #f6f7f9;
  }



  /* Responsive Styles */
 
  .logo-img {
    // height: 45px;
    // width: 1000px;
    // display: inline-block;
    // vertical-align: middle;
    // background: url('/images/Logo.png') ;
    // background-size: contain;
    max-width: 50px;
    background-color: white;
    max-height: 30px;
  }
  