.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    text-align: center;
    background-image: linear-gradient(to right, rgb(202, 223, 243), rgb(25, 118, 210));
    color: white;
}