<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logoimgs" [src]="'assets/images/navistar-logoo-removebg-preview.png'"  width="90" height="20"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active navidropdownitems" aria-current="page" href="#">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link navidropdownitems" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navidropdownitems" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lineset
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Chasis</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Body</a></li>
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled navidropdownitems" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control search-lg" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
      </form>
      <li class="nav-item dropdown Logout-mainmenu">
        <a class="nav-link dropdown-toggle Logout-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Reddy Anudeep
        </a>
        <ul class="dropdown-menu Logout-dropdown-menu">
          <!-- <li><a *ngIf="isLoggedIn" class="nav-link" href="/logout" (click)=handleLogout()>Logout</a></li> -->
        <li>  <a class="dropdown-item"  (click)="handleLogout()">Logout</a>
          <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li> -->
        </ul>
      </li>
    </div>
  </div>
</nav>